* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body main {
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 16px;
  border-style: none;
  border: 1px solid transparent;
  background-color: #ffbc0d;
  color: rgba(0,0,0,.7);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 24px;
}

span {
  margin: 4px;
  font-size: 20px;
}

.animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #FF2D08 0%,
    #FEC208 29%,
    #CF240A 67%,
    #FFF10A 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  transition: 2s;
  font-size: 30px;
}

.animate-charcter:hover{
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}