* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem 0;
}

.App p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
}

